* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

@font-face {
  font-family: "Bangela";
  src: url(../Font/Bangela.otf); }

footer .container_footer .box_footer a {
  text-decoration: none;
  border-radius: 5px;
  justify-content: right; }

/*Banner*/
.titulo {
  background-size: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  .titulo .hero {
    color: orange;
    text-align: center;
    font-size: 50px;
    font-family: "Bangela";
    background-image: url(../Img/camino-rastro-huellas-blancas-sobre-fondo-negro-perros-caminando-patron-huella-animal_391563-237.webp);
    padding-top: 100px;
    padding-bottom: 50px;
    /*Bordes*/
    border: solid 3px #ec5d0b; }
    .titulo .hero h1 {
      font-size: 6rem; }

/*Header*/
.header {
  position: sticky;
  top: 0;
  right: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: darkorange;
  border-bottom: 1px solid;
  padding: 0 20px;
  z-index: 100; }
  .header .subtitulo {
    color: black;
    background-color: darkorange;
    padding-left: 5px; }
  .header .header_nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center; }
    .header .header_nav .header_nav_menu {
      text-decoration: none;
      display: flex;
      justify-content: end;
      align-items: center;
      padding-top: 20px; }
      .header .header_nav .header_nav_menu .logo {
        width: 50px;
        height: 50px;
        margin-left: 5px;
        border-radius: 5px; }
      .header .header_nav .header_nav_menu .listas {
        display: inline;
        font-size: 30px;
        margin: 10px; }
        .header .header_nav .header_nav_menu .listas .enlace_nav {
          text-decoration: none;
          color: black;
          border-radius: 5px;
          justify-content: right; }

/*Inicio*/
/*Carousel*/
.slide .d-block {
  height: 60vh; }

.contenedor_inicio .contenedor_descripcion h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5rem; }

.contenedor_inicio .contenedor_descripcion .texto_inicio {
  text-align: center;
  color: #01010c;
  margin: 5px;
  padding-bottom: 20px;
  font-size: 2rem; }

.container_inicio {
  display: flex;
  justify-content: space-around; }
  .container_inicio .div_inicio1 .img_inicio {
    height: 200px;
    width: 200px;
    margin-bottom: 15px;
    border-radius: 20px; }
  .container_inicio .div_inicio1 .texto {
    width: 200px;
    text-align: center; }
  .container_inicio .div_inicio2 .img_inicio {
    height: 200px;
    width: 200px;
    margin-bottom: 15px;
    border-radius: 20px; }
  .container_inicio .div_inicio2 .texto {
    width: 250px;
    text-align: center; }
  .container_inicio .div_inicio3 .img_inicio {
    height: 200px;
    width: 250px;
    margin-bottom: 15px;
    border-radius: 120px; }
  .container_inicio .div_inicio3 .texto {
    width: 250px;
    text-align: center; }

/*Contacto*/
.mapa_local {
  width: 100%;
  margin-top: 20px; }

.contacto {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  border: solid 1px gray; }
  .contacto .contacto_formulario {
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-gap: 100px;
    margin-top: 10px; }
    .contacto .contacto_formulario .contacto_tarjeta .datos, .contacto .contacto_formulario .contacto_tarjeta .mensaje {
      display: block;
      width: 100%;
      margin-top: 50px;
      margin: 10px;
      padding: 5px; }
    .contacto .contacto_formulario .contacto_tarjeta .boton {
      display: block;
      background-color: #1b4fdf;
      color: white;
      font-size: 1.5rem;
      width: 150px;
      margin: 10px;
      padding: 5px;
      border-radius: 5px; }
    .contacto .contacto_formulario .contacto_info ul {
      list-style: none; }
      .contacto .contacto_formulario .contacto_info ul .lista_info {
        margin-top: 20px; }

/*Servicio*/
.container_servicios .texto_servicio {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2.5rem; }

.container_servicios .container_servicios_sec .servicios_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
  width: 900px;
  padding: 20px;
  margin: 15px;
  background-color: rgba(235, 131, 13, 0.75);
  border-radius: 5px;
  gap: 15px; }
  .container_servicios .container_servicios_sec .servicios_box .img_servicio {
    height: 264px;
    width: 352px;
    border-radius: 10px; }
  .container_servicios .container_servicios_sec .servicios_box .servicios_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px; }
    .container_servicios .container_servicios_sec .servicios_box .servicios_texto .subtitulo_servicio {
      font-size: 1.8em;
      padding-bottom: 30px; }
    .container_servicios .container_servicios_sec .servicios_box .servicios_texto .texto {
      font-size: 1.2em; }

/*Productos*/
.contenedor_productos .texto_productos {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center; }

.container_producto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .container_producto .grid_gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 15px; }
    .container_producto .grid_gallery .img_huellita {
      position: relative; }
      .container_producto .grid_gallery .img_huellita .img_producto {
        width: 200px;
        height: 200px;
        margin-top: 10px;
        margin-left: 10px;
        border: solid;
        color: black;
        border-radius: 5px; }
      .container_producto .grid_gallery .img_huellita span {
        position: absolute;
        bottom: -20px;
        left: 60px;
        color: black; }

/*Promos*/
.contenedor_promos .texto_promos {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center; }

.container_promos .row_card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: 15px;
  margin-bottom: 20px; }

/*Footer*/
footer {
  width: 100%;
  padding: 50px, 0px;
  margin-top: 50px;
  background-color: darkorange; }
  footer .container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto; }
    footer .container_footer .box_footer {
      display: flex;
      flex-direction: column;
      padding: 40px; }
      footer .container_footer .box_footer .logo_footer .logo_footer_img {
        width: 100px;
        border-radius: 5px; }
      footer .container_footer .box_footer .terms {
        max-width: 350px;
        margin-top: 20px;
        font-size: 18px; }
    footer .container_footer .box_footer h2 {
      margin-bottom: 30px;
      color: #050505;
      font-weight: 700; }
    footer .container_footer .box_footer a {
      margin-top: 10px;
      font-weight: 600;
      color: #fdfdfd;
      font-size: 20px; }
  footer .box_copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 40px; }
    footer .box_copyright p {
      margin-top: 20px;
      margin-bottom: 0px; }
    footer .box_copyright .p_copy {
      padding-bottom: 60px; }

.enlace_nav {
  font-size: 35px; }

@media screen and (max-width: 480px) {
  .titulo .hero h1 {
    font-size: 50px; }
  .header h2 {
    font-size: 20px; }
  .listas a {
    font-size: 15px; }
  .mapa_local {
    width: 100%; }
  .contenedor {
    text-align: center; }
  .foto_mascotas {
    padding-left: 100px; }
  .texto_inicio {
    text-align: center; }
  .container_inicio {
    flex-direction: column; }
  .contenedor_productos .texto_productos {
    font-size: 18px;
    text-align: center; }
  .container_producto .grid_gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .container_producto .grid_gallery .img_huellita:hover {
      transform: none; }
  .contenedor_promos .texto_promos {
    font-size: 18px;
    text-align: center; }
  .container_promos .row_card {
    grid-template-columns: 1fr;
    margin-left: 70px;
    gap: 10px; }
  .slide .carousel-inner .carousel-item .carousel_img {
    height: 40vh;
    width: auto; }
  .contacto .contacto_formulario {
    display: grid;
    grid-template-columns: 1fr; }
    .contacto .contacto_formulario .contacto_tarjeta h3, .contacto .contacto_formulario .contacto_tarjeta h5 {
      text-align: center; }
  .container_servicios .texto_servicio {
    font-size: 1.8rem; }
  .container_servicios .container_servicios_sec .servicios_box {
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
    width: 280px;
    align-items: center; }
    .container_servicios .container_servicios_sec .servicios_box .servicios_texto {
      width: 200px;
      margin-top: 20px; }
      .container_servicios .container_servicios_sec .servicios_box .servicios_texto .subtitulo_servicio {
        font-size: 1.4rem;
        padding-bottom: 15px; }
      .container_servicios .container_servicios_sec .servicios_box .servicios_texto .texto {
        font-size: 1rem; }
    .container_servicios .container_servicios_sec .servicios_box .img_servicio {
      height: 165px;
      width: 220px; }
  .container_footer .box_footer {
    width: 200px; }
  .box_copyright .box_copyright_p {
    padding-bottom: 20px; } }
