*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face{
    font-family: "Bangela";
    src: url(../Font/Bangela.otf);
}

.header{
    position: sticky;
    top:0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: darkorange;
    border-bottom: 1px solid;
    padding: 0 20px;
    z-index: 100;
}
h1{
    font-size: 6rem;
}
/*Estilo titulo*/
.hero{
    color: orange;
    text-align: center;
    font-size: 50px;
    font-family: "bangela";
    background-image: url(../Img/camino-rastro-huellas-blancas-sobre-fondo-negro-perros-caminando-patron-huella-animal_391563-237.webp);
    padding-top: 100px;
    padding-bottom: 50px;
    /*Bordes*/
    border: solid 3px rgb(236, 93, 11);
}

.titulo{
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.subtitulo{
    color: black;
    background-color: darkorange;
padding-left: 5px;
}

.header .header_nav{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header_nav_menu{
    text-decoration: none;
    display: flex;
    justify-content: end;
    align-items: center;
     padding-top: 20px;
}
a{
    /* background: linear-gradient(90deg, red, yellow); */
     text-decoration: none;
     color: black;
     border-radius: 5px;
    justify-content: right;

}
.listas:hover{
    /* background-color: rgb(51, 159, 209);
    background: linear-gradient(90deg, red, yellow);
    border-radius: 5px; */
}
/*textos*/
.texto{
    text-align: center;
    color: rgb(1, 1, 12);
    margin: 5px;
}
.texto_inicio{
    text-align: left;
    color: rgb(1, 1, 12);
    margin: 5px;
    width: 300px;
}

/*telefono*/
.telefono{
    font-weight: bold;
    display: block
}
.listas{
 display: inline;
    /*background-color: orange;*/
    font-size: 30px;
    /* border: double 4px orange; */
    margin: 10px;
}
/*logos*/
.logo{
    width: 50px;
    height: 50px;
    /* margin-top: 10px;
    margin-left: 10px; */
    margin-left: 5px;
    border-radius: 5px;
}
/*Fotos*/
.frente_local{
    margin-top: 10px;
    margin-left: 10px;
}
.foto_mascotas{
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
/*tabla*/
.tabla{
    margin-top: 10px;
}
/*imagenes de productos*/
.img_producto{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
    border: solid;
    border-radius: 5px;
}

.img_inicio{
    width: 300px;
    height: 250px;
}

.contenedor{
     display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.texto_promos{
    margin-left: 5px;
}
/*CARDS PROMOS*/
.row_card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15px;
    /* gap: 15px; */
}
/*Grid producto*/
.container_producto{
     width: 100%;
    display: flex;
    flex-direction: column;
 justify-content: center;
    align-items: center; 
}
/*Contenedor de la grid*/
.grid_gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 15px; 
}

.grid_gallery .img_huellita{
    position: relative;
    transition: transform 1s;
}

.grid_gallery .img_huellita span{
    position: absolute;
    bottom: -20px;
    left: 60px;
    color: black;
    
}
.img_huellita:hover{
     transform: scale(1.2);

}
/*carousel promos*/

.slide img{
    height: 60vh;
}

/*Grid Inicio*/
.container_inicio .servicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 100%;
    gap: 15px;

}
.container_inicio_texto{
 width: 300px; 

}

.footer{
    margin-left: 10px;
}

@media screen and (max-width: 480px){
    .hero h1{
        font-size: 50px;
    }

    .header h2{
        font-size: 20px;
    }

    .listas a{
        font-size: 15px;
    }

    .mapa_local{
        width: 100%;
    }
    .frente_local{
        width: 90%;
    }

    .contenedor{
        /* display: none; */
        text-align: center;
    }
    .foto_mascotas{
       padding-left: 100px;
    }
    .texto_inicio{
        text-align: center;
    }

    .grid_gallery{
        grid-template-columns: repeat(1, 1fr);
    }
    .servicio_estilista{
        flex-direction: column-reverse;
    }
    .row_card{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 70px;
        gap: 10px;
    }


    .footer{
        margin-top: 20px;
    }
}