//variables en SASS
$size-letra: 1.5rem;
$estilo_letra: fantasy;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face{
    font-family: "Bangela";
    src: url(../Font/Bangela.otf);
}

$menu: (/*Declaro el map*/
blanco: rgb(15, 230, 33),
rojo: red,
azul: blue,
agua: rgb(0, 225, 255),
borde: 5px,
tFuente: 35px
);

%enlaces{
    text-decoration: none;
    color: black;
    border-radius: 5px;
    justify-content: right;
}

.titulo{
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    .hero{
        color: orange;
        text-align: center;
        font-size: 50px;
        font-family: "Bangela";
        background-image: url(../Img/camino-rastro-huellas-blancas-sobre-fondo-negro-perros-caminando-patron-huella-animal_391563-237.webp);
        padding-top: 100px;
        padding-bottom: 50px;
        /*Bordes*/
        border: solid 3px rgb(236, 93, 11);
        h1{
            font-size: 6rem;
        }
    }
}

.header{
    position: sticky;
    top:0;
    right: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: darkorange;
    border-bottom: 1px solid;
    padding: 0 20px;
    z-index: 100;
    .subtitulo{
        color: black;
        background-color: darkorange;
        padding-left: 5px;
    }
    .header_nav{
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        .header_nav_menu{
            text-decoration: none;
            display: flex;
            justify-content: end;
            align-items: center;
            padding-top: 20px;
            .logo{
                width: 50px;
                height: 50px;
                margin-left: 5px;
                border-radius: 5px;
            }
            .listas{
                display: inline;
                font-size: 30px;
                margin: 10px;
                .enlace_nav{
                    text-decoration: none;
                    color: black;
                    border-radius: 5px;
                    justify-content: right;
                }
            }
        }
    }
}

/*Carousel*/
.slide{
    .d-block{
        height: 60vh;
    }
}

.contenedor_inicio{
    .contenedor_descripcion{
        h3{
            text-align: left;
            font-size: 2.5rem;
        }
        .texto_inicio{
            text-align: center;
            color: rgb(1, 1, 12);
            margin: 5px;
            padding-bottom: 20px;
            font-size: 2rem;
        }
    }
}

.contenedor_productos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .texto_productos{
        margin-left: 5px;
        font-size: $size-letra;
        font-family: $estilo_letra;
    }
}

.contenedor_contacto{
    .foto_mascotas{
        height: 200px;
        margin-top: 10px;
        margin-left: 10px;
    }
}

.texto_contacto{
    text-align: center;
    color:rgb(1, 1, 12);
    margin: 5px;
    .telefono{
        font-weight: bold;
        display: block;
    }
}

.contenedor_nosotros{
    .texto_nosotros{
        margin-left: 5px;
        font-size: $size-letra;
        font-family: $estilo_letra;
    }
}
.frente_local{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
}

.contenedor_promos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .texto_promos{
    margin-left: 5px;
    font-size: 2rem;
    }
}
.container_inicio{
    .servicio{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border-radius: 6px;
        width: 100%;
        gap: 15px;
        .container_inicio_texto{
            width: 300px;
        }
        .img_inicio{
            width: 300px;
            height: 250px;
        }
    }
}

.container_producto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .grid_gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 2fr);
        gap: 15px;
        .img_huellita{
            position: relative;
            transition: transform 1s;
            &:hover{
                transform: scale(1.2);
            }
            .img_producto{
                width: 200px;
                height: 200px;
                margin-top: 10px;
                margin-left: 10px;
                border: solid;
                border-radius: 5px;
            }
            span{
                position: absolute;
                bottom: -20px;
                left: 60px;
                color: black;
            }
        }
    }
}

.container_promos{
    .row_card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
    }
}

footer{
    width: 100%;
    padding: 50px, 0px;
    margin-top: 50px;
    background-color: darkorange;
    .container_footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        .box_footer{
            display: flex;
            flex-direction: column;
            padding: 40px;
            .logo_footer{
                .logo_footer_img{
                    width: 100px;
                    border-radius: 5px;
                }
            }
            .terms{
                max-width: 350px;
                margin-top: 20px;
                font-size: 18px;
            }
        }
        .box_footer{
            h2{
                margin-bottom: 30px;
                font-weight: 700;
            }
            a{
                margin-top: 10px;
                font-weight: 600;
                @extend %enlaces;
                color: rgb(13, 33, 216);
                font-size: 20px;
            }
        }
    }
    .box_copyright{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0 40px;
        p{
            margin-top: 20px;
            margin-bottom: 0px;
        }
        .p_copy{
            padding-bottom: 60px;
        }
    }
}

// @each $item, $color in $menu {
//     .color-#{$item} {
//         background-color: $color;
//     }
// }

.enlace_nav{
     font-size: map-get($menu, tFuente);
}

.listas2, .listas4{
    background-color: map-get($menu, agua);
    border-radius: map-get($menu, borde);
}

.listas1, .listas3{
    background-color: map-get($menu, azul);
    border-radius: map-get($menu, borde);
}

@media screen and (max-width: 480px){
//     .hero h1{
//         font-size: 50px;
//     }
// h1{
//     font-size: 50px;
// }
.titulo{
    .hero{
        h1{
            font-size: 50px;
        }
    }
}
    .header h2{
        font-size: 20px;
    }

    .listas a{
        font-size: 15px;
    }

    .mapa_local{
        width: 100%;
    }
    .frente_local{
        width: 90%;
    }

    .contenedor{
        /* display: none; */
        text-align: center;
    }
    .foto_mascotas{
       padding-left: 100px;
    }
    .texto_inicio{
        text-align: center;
    }

    .grid_gallery{
        display: grid;
            grid-template-columns: repeat(1, 1fr);
    }
    .img_huellita{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .servicio_estilista{
        flex-direction: column-reverse;
    }
    .row_card{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 70px;
        gap: 10px;
    }
    .slide img{
        height: 35vh;
    }

    .footer{
        margin-top: 20px;
    }
}